---
layout: main
---

<h1>{{ galleryConfig.title }}</h1>

<div id="gallery">
{% for figure in figures %}
	<div class="cssbox">
		<a href="{{figure.name}}.html" id="figure{{forloop.index}}">
			<img src="{{figure.thumbpath}}" class="cssbox_thumb"></a>
		<p class="label">{{figure.title}}</p>
		<a class="cssbox_close" href="#void"></a>
		{% if forloop.first == false %}
		<a class="cssbox_prev" href="#image{{ forloop.index | minus: 1 }}">&lt;</a>
		{% endif %}
		{% if forloop.last == false %}
		<a class="cssbox_next" href="#image{{ forloop.index | plus: 1}}">&gt;</a>
		{% endif %}
	</div>
{% endfor %}
</div>
